<%= render ("layouts/header2") %>

<!-- Search  -->
<div id="search">
    <button type="button" class="close">×</button>
    <form class="clearfix d-block">
        <input type="search" value="" placeholder="Search for . . . ." />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!-- // Search  -->


<div class="nile-page-title">
    <div class="container">
        <h1>FAQ</h1>
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">FAQ</li>
        </ul>

    </div>
</div>



<section class="padding-tb-120px section-ba-2">

    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="fizo-image layout-1 with-video">

                    <a id="yt-preview" href="https://www.youtube.com/watch?v=uQBL7pSAXR8&amp;t=1s" class="video-play-button flex-center"><span></span></a>

                    <img src="http://placehold.it/650x830" alt="">

                </div>
            </div>


            <div class="col-lg-6 align-self-center">

                <div id="accordion3" class="fizo-accordion layout-1 sm-mb-45px">

                    <div class="card">
                        <div class="card-header" id="headingOne3">
                            <h5 class="mb-0">
                                <button class="btn btn-block btn-link active" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3"><i class="fa fa-info-circle"></i> Why us ?</button>
                            </h5>
                        </div>
                        <div id="collapseOne3" class="collapse show" aria-labelledby="headingOne3" data-parent="#accordion3" style="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo3">
                            <h5 class="mb-0">
                                <button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-truck"></i> Explore our Facilities</button>
                            </h5>
                        </div>
                        <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo3" data-parent="#accordion3" style="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree3">
                            <h5 class="mb-0">
                                <button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3"><i class="fa fa-plane"></i> Warehousing Solution</button>
                            </h5>
                        </div>
                        <div id="collapseThree3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3" style="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading43">
                            <h5 class="mb-0">
                                <button class="btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapse43" aria-expanded="false" aria-controls="collapse4"><i class="fa fa-bus"></i> Responsive &amp; Retina</button>
                            </h5>
                        </div>
                        <div id="collapse43" class="collapse" aria-labelledby="heading43" data-parent="#accordion3" style="">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
                        </div>
                    </div>



                </div>

            </div>

        </div>
    </div>

</section>





<!-- preloader -->

<!-- end preloader -->

<a class="go-top box-shadow background-second-color"><span class="arrow_carrot-up"></span></a>
<%= render("layouts/footer") %>
