<%= render ("layouts/header2") %>

<div id="search">
<button type="button" class="close">×</button>
<form class="clearfix d-block">
    <input type="search" value="" placeholder="Search for . . . ." />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<!-- // Search  -->


<div class="nile-page-title">
<div class="container">
    <h1>Client’s Opinions</h1>
    <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">Client’s Opinions</li>
    </ul>

</div>
</div>




<section class="padding-tb-120px section-ba-2">

<div class="container">
    <div class="testimonial-slider owl-carousel owl-theme">
        <div class="fizo-testimonial layout-1">
            <div class="img-in"><img src="http://placehold.it/100x100" alt=""></div>
            <div class="content">Fizo joined our proposal team and was on-board from start to finish. They were a fundamental part of the team and handled our every request with ! </div>
            <h4 class="name">Rabie Elkheir</h4>
            <div class="dis">Slaim Co .ltd</div>
        </div>
        <div class="fizo-testimonial layout-1">
            <div class="img-in"><img src="http://placehold.it/100x100" alt=""></div>
            <div class="content">Fizo joined our proposal team and was on-board from start to finish. They were a fundamental part of the team and handled our every request with ! </div>
            <h4 class="name">Rabie Elkheir</h4>
            <div class="dis">Slaim Co .ltd</div>
        </div>
        <div class="fizo-testimonial layout-1">
            <div class="img-in"><img src="http://placehold.it/100x100" alt=""></div>
            <div class="content">Fizo joined our proposal team and was on-board from start to finish. They were a fundamental part of the team and handled our every request with ! </div>
            <h4 class="name">Rabie Elkheir</h4>
            <div class="dis">Slaim Co .ltd</div>
        </div>
        <div class="fizo-testimonial layout-1">
            <div class="img-in"><img src="http://placehold.it/100x100" alt=""></div>
            <div class="content">Fizo joined our proposal team and was on-board from start to finish. They were a fundamental part of the team and handled our every request with ! </div>
            <h4 class="name">Rabie Elkheir</h4>
            <div class="dis">Slaim Co .ltd</div>
        </div>

    </div>
</div>


</section>



<section class="padding-tb-120px background-main-color">
<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-8">

            <div class="testimonial-slider-2 owl-carousel owl-theme">

                <div class="fizo-testimonial layout-2">
                    <div class="img-in"><img src="http://placehold.it/100x100" alt=""></div>
                    <div class="content">Fizo joined our proposal team and was on-board from start to finish. They were a fundamental part of the team and handled our every request with ! </div>
                    <h4 class="name">Rabie Elkheir</h4>
                    <div class="dis">Slaim Co .ltd</div>
                </div>

                <div class="fizo-testimonial layout-2">
                    <div class="img-in"><img src="http://placehold.it/100x100" alt=""></div>
                    <div class="content">Fizo joined our proposal team and was on-board from start to finish. They were a fundamental part of the team and handled our every request with ! </div>
                    <h4 class="name">Osman Ali</h4>
                    <div class="dis">Slaim Co .ltd</div>
                </div>

                <div class="fizo-testimonial layout-2">
                    <div class="img-in"><img src="http://placehold.it/100x100" alt=""></div>
                    <div class="content">Fizo joined our proposal team and was on-board from start to finish. They were a fundamental part of the team and handled our every request with ! </div>
                    <h4 class="name">Shaam Kamaal</h4>
                    <div class="dis">Slaim Co .ltd</div>
                </div>

            </div>


        </div>
    </div>

</div>
</section>


<section class="padding-tb-100px section-ba-2">
<div class="container">
    <!-- title -->
    <div class="nile-title layout-1 text-center">
        <div class="sub-title">Making your Life Easier</div>
        <h2>Add your feedback</h2>
    </div>
    <!-- // title -->

    <div class="row justify-content-center">
        <div class="col-lg-6">

            <form class="nile-content dark">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" id="inputName44" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" id="inputEmail44" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <textarea id="exampleFormControlTextarea11" rows="3"></textarea>
                </div>
                <a href="#" class="nile-bottom sm">SEND MESSAGE</a>
            </form>

        </div>
    </div>

</div>
</section>


<!-- preloader -->

<!-- end preloader -->

<a class="go-top box-shadow background-second-color"><span class="arrow_carrot-up"></span></a>
<%= render("layouts/footer") %>
