<%= render ("layouts/header2") %>
<!-- Search  -->
<div id="search">
    <button type="button" class="close">×</button>
    <form class="clearfix d-block">
        <input type="search" value="" placeholder="Search for . . . ." />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!-- // Search  -->


<div class="nile-page-title">
    <div class="container">
        <h1>Our Services</h1>
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Our Services</li>
        </ul>

    </div>
</div>

<div class="padding-tb-80px services-archive">
    <div class="container">
        <div class="row">

            <!-- item -->
            <div class="col-lg-4">
                <div class="nile-service layout-1">
                    <div class="icon"><img src="assets/icons/icon-1.svg" alt=""></div>
                    <div class="img-in">
                        <a href="#"><img src="http://placehold.it/700x700" alt=""></a>
                    </div>
                    <a href="#" class="title">Web Development</a>
                    <div class="wasf">First, we will have a meeting and listen to your wishes & needs. What you want to get from us</div>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
            <!-- End item -->

            <!-- item -->
            <div class="col-lg-4">
                <div class="nile-service layout-1">
                    <div class="icon"><img src="assets/icons/icon-2.svg" alt=""></div>
                    <div class="img-in">
                        <a href="#"><img src="http://placehold.it/500x250" alt=""></a>
                    </div>
                    <a href="#" class="title">Web Development</a>
                    <div class="wasf">First, we will have a meeting and listen to your wishes & needs. What you want to get from us</div>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
            <!-- End item -->

            <!-- item -->
            <div class="col-lg-4">
                <div class="nile-service layout-1">
                    <div class="icon"><img src="assets/icons/icon-3.svg" alt=""></div>
                    <div class="img-in">
                        <a href="#"><img src="http://placehold.it/500x250" alt=""></a>
                    </div>
                    <a href="#" class="title">Web Development</a>
                    <div class="wasf">First, we will have a meeting and listen to your wishes & needs. What you want to get from us</div>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
            <!-- End item -->

            <!-- item -->
            <div class="col-lg-4">
                <div class="nile-service layout-1">
                    <div class="icon"><img src="assets/icons/icon-3.svg" alt=""></div>
                    <div class="img-in">
                        <a href="#"><img src="http://placehold.it/500x250" alt=""></a>
                    </div>
                    <a href="#" class="title">Web Development</a>
                    <div class="wasf">First, we will have a meeting and listen to your wishes & needs. What you want to get from us</div>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
            <!-- End item -->

            <!-- item -->
            <div class="col-lg-4">
                <div class="nile-service layout-1">
                    <div class="icon"><img src="assets/icons/icon-2.svg" alt=""></div>
                    <div class="img-in">
                        <a href="#"><img src="http://placehold.it/500x250" alt=""></a>
                    </div>
                    <a href="#" class="title">Web Development</a>
                    <div class="wasf">First, we will have a meeting and listen to your wishes & needs. What you want to get from us</div>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
            <!-- End item -->

            <!-- item -->
            <div class="col-lg-4">
                <div class="nile-service layout-1">
                    <div class="icon"><img src="assets/icons/icon-1.svg" alt=""></div>
                    <div class="img-in">
                        <a href="#"><img src="http://placehold.it/500x250" alt=""></a>
                    </div>
                    <a href="#" class="title">Web Development</a>
                    <div class="wasf">First, we will have a meeting and listen to your wishes & needs. What you want to get from us</div>
                    <a href="#" class="more">Read More</a>
                </div>
            </div>
            <!-- End item -->


        </div>
    </div>
</div>



<!-- preloader -->

<!-- end preloader -->

<a class="go-top box-shadow background-second-color"><span class="arrow_carrot-up"></span></a>
<%= render("layouts/footer") %>
