    <%= render("layouts/header2") %>
    <!-- // HEADER  -->

    <!-- Search  -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form class="clearfix d-block">
            <input type="search" value="" placeholder="Search for . . . ." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- // Search  -->


    <div class="nile-page-title">
        <div class="container">
            <h1>Portfolio 1</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Portfolio 1</li>
            </ul>
        </div>
    </div>



    <section class="padding-tb-100px">
        <div class="container">

            <div class="container margin-bottom-30px">
                <ul class="portfolio-filter text-center">
                    <li><a data-filter="all">All</a></li>
                    <li><a data-filter="brand">Brand</a></li>
                    <li><a data-filter="design">Design</a></li>
                    <li><a data-filter="illustrate">Illustrate</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="row filtr-container">
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, brand , design" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, design , illustrate" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, design , illustrate" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, brand , design" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, brand , illustrate" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, design ,illustrate" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, brand , design ,illustrate" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, brand" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 filtr-item" data-category="all, design" data-sort="value">
                        <div class="portfolio style-1 thum-hover margin-bottom-30px ">
                            <div class="item-thumbnail background-white"> <img src="http://placehold.it/350x350" alt=""> </div>
                            <div class="hover-box white hidden">
                                <div class="flex-center"> <a href="#" class="h3">Lightning Shot</a>
                                    <div><a href="#">Creative</a> <a href="#">Interior</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- preloader -->
   
    <!-- end preloader -->

    <a class="go-top box-shadow background-second-color"><span class="arrow_carrot-up"></span></a>

    <%= render("layouts/footer") %>