    <%= render("layouts/header2") %>
    <div id="search">
        <button type="button" class="close">×</button>
        <form class="clearfix d-block">
            <input type="search" value="" placeholder="Search for . . . ." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- // Search  -->


    <div class="nile-page-title">
        <div class="container">
            <h1>Blog</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog</li>
            </ul>

        </div>
    </div>



    <div class="page-output background-white padding-tb-100px">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="row">

                        <!-- Post item -->
                        <div class="col-lg-6 col-md-6">
                            <div class="nile-blog-entry layout-1 margin-bottom-35px">
                                <div class="img-in">
                                    <img src="http://placehold.it/1050x700" alt="">
                                    <!--  Social -->
                                    <ul class="social-media">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // Social -->
                                </div>
                                <div class="out">
                                    <div class="cats"><a href="#">Technology</a>, <a href="#">Nonprofit</a></div>
                                    <a href="#" class="title">7 Ways to Stimulate Creative Thinking</a>
                                    <div class="excerpt">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                    </div>
                                    <a href="#" class="read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Post item -->


                        <!-- Post item -->
                        <div class="col-lg-6 col-md-6">
                            <div class="nile-blog-entry layout-1 margin-bottom-35px">
                                <div class="img-in">
                                    <img src="http://placehold.it/1050x700" alt="">
                                    <!--  Social -->
                                    <ul class="social-media">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // Social -->
                                </div>
                                <div class="out">
                                    <div class="cats"><a href="#">Technology</a>, <a href="#">Nonprofit</a></div>
                                    <a href="#" class="title">Fun and Family Stimulates Creative Thinking</a>
                                    <div class="excerpt">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                    </div>
                                    <a href="#" class="read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Post item -->


                        <!-- Post item -->
                        <div class="col-lg-6 col-md-6">
                            <div class="nile-blog-entry layout-1 margin-bottom-35px">
                                <div class="img-in">
                                    <img src="http://placehold.it/1050x700" alt="">
                                    <!--  Social -->
                                    <ul class="social-media">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // Social -->
                                </div>
                                <div class="out">
                                    <div class="cats"><a href="#">Technology</a>, <a href="#">Nonprofit</a></div>
                                    <a href="#" class="title">4 Factors to Consider While Choosing Right PRP Kit</a>
                                    <div class="excerpt">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                    </div>
                                    <a href="#" class="read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Post item -->


                        <!-- Post item -->
                        <div class="col-lg-6 col-md-6">
                            <div class="nile-blog-entry layout-1 margin-bottom-35px">
                                <div class="img-in">
                                    <img src="http://placehold.it/1050x700" alt="">
                                    <!--  Social -->
                                    <ul class="social-media">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // Social -->
                                </div>
                                <div class="out">
                                    <div class="cats"><a href="#">Technology</a>, <a href="#">Nonprofit</a></div>
                                    <a href="#" class="title">7 Ways to Stimulate Creative Thinking</a>
                                    <div class="excerpt">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                    </div>
                                    <a href="#" class="read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Post item -->


                        <!-- Post item -->
                        <div class="col-lg-6 col-md-6">
                            <div class="nile-blog-entry layout-1 margin-bottom-35px">
                                <div class="img-in">
                                    <img src="http://placehold.it/1050x700" alt="">
                                    <!--  Social -->
                                    <ul class="social-media">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // Social -->
                                </div>
                                <div class="out">
                                    <div class="cats"><a href="#">Technology</a>, <a href="#">Nonprofit</a></div>
                                    <a href="#" class="title">4 Factors to Consider While Choosing Right PRP Kit</a>
                                    <div class="excerpt">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                    </div>
                                    <a href="#" class="read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Post item -->


                        <!-- Post item -->
                        <div class="col-lg-6 col-md-6">
                            <div class="nile-blog-entry layout-1 margin-bottom-35px">
                                <div class="img-in">
                                    <img src="http://placehold.it/1050x700" alt="">
                                    <!--  Social -->
                                    <ul class="social-media">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <!-- // Social -->
                                </div>
                                <div class="out">
                                    <div class="cats"><a href="#">Technology</a>, <a href="#">Nonprofit</a></div>
                                    <a href="#" class="title">7 Ways to Stimulate Creative Thinking</a>
                                    <div class="excerpt">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                    </div>
                                    <a href="#" class="read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Post item -->


                    </div>
                    <!-- pagination -->
                    <div class="margin-tb-30px">
                        <ul class="pagination pagination-md pagination-style-1 color">
                            <li><a class="page-link" href="#" tabindex="-1"><i class="fa fa-chevron-left"></i></a></li>
                            <li><a class="page-link" href="#">1</a></li>
                            <li><a class="page-link" href="#">2</a></li>
                            <li><a class="page-link" href="#">3</a></li>
                            <li><a class="page-link " href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- // pagination -->
                </div>


                <div class="col-lg-4">
                    <div id="nile-blog-sidebar" class="nile-blog-sidebar">

                        <!-- Search -->
                        <div class="nile-widget layout-1 widget_search">
                            <div class="widget-title">Search</div>
                            <form role="search" method="get" class="search-form" action="#">
                                <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:" required="">
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                        </div>
                        <!-- End Search -->

                        <!-- Latest Posts -->
                        <div class="nile-widget layout-1 nile_latest_news_widget">
                            <div class="widget-title">Latest Posts</div>

                            <!-- post item -->
                            <div class="post">
                                <div class="post-thum"><a href="#"><img src="http://placehold.it/120x120" alt=""></a></div>
                                <div class="date"><span class="icon_clock_alt"></span> May 22, 2018</div>
                                <a href="#" class="title">7 Ways to Stimulate Creative Thinking</a>
                            </div>
                            <!-- END post item -->

                            <!-- post item -->
                            <div class="post">
                                <div class="post-thum"><a href="#"><img src="http://placehold.it/120x120" alt=""></a></div>
                                <div class="date"><span class="icon_clock_alt"></span> May 22, 2018</div>
                                <a href="#" class="title">Fun and Family Stimulates Creative Thinking</a>
                            </div>
                            <!-- END post item -->

                            <!-- post item -->
                            <div class="post">
                                <div class="post-thum"><a href="#"><img src="http://placehold.it/120x120" alt=""></a></div>
                                <div class="date"><span class="icon_clock_alt"></span> May 22, 2018</div>
                                <a href="#" class="title">4 Factors to Consider While Choosing Right PRP Kit</a>
                            </div>
                            <!-- END post item -->

                            <!-- post item -->
                            <div class="post">
                                <div class="post-thum"><a href="#"><img src="http://placehold.it/120x120" alt=""></a></div>
                                <div class="date"><span class="icon_clock_alt"></span> May 22, 2018</div>
                                <a href="#" class="title">How EcoAllene Can Stimulate Sales of Personalised Pens</a>
                            </div>
                            <!-- END post item -->
                        </div>
                        <!-- End Latest Posts -->


                        <!-- widget categories -->
                        <div class="nile-widget layout-1 widget_categories">
                            <div class="widget-title">Categories</div>
                            <ul>
                                <li><a href="#">Creativity &amp; design</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Money &amp; business</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Nonprofit</a></li>
                            </ul>
                        </div>
                        <!-- End widget categories -->


                        <!-- widget meta -->
                        <div class="nile-widget layout-1 widget_meta">
                            <div class="widget-title">Meta</div>
                            <ul>
                                <li><a href="#">Creativity &amp; design</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Money &amp; business</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Nonprofit</a></li>
                            </ul>
                        </div>
                        <!-- End widget meta -->


                    </div>
                </div>

            </div>


        </div>
    </div>




    <!-- preloader -->
   
    <!-- end preloader -->

    <a class="go-top box-shadow background-second-color"><span class="arrow_carrot-up"></span></a>

    <%= render("layouts/footer")%>

