<footer class="layout-2">
        <div class="footer-output">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="nile-widget widget_nav_menu">
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">How we are</a></li>
                                <li><a href="#">Faqs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="nile-widget widget_nav_menu">
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">How we are</a></li>
                                <li><a href="#">Faqs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="nile-widget widget_nav_menu">
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">How we are</a></li>
                                <li><a href="#">Faqs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="nile-widget widget_nav_menu">
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">How we are</a></li>
                                <li><a href="#">Faqs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="copyright-text">
                            © 2019 FIZO . All Rights Reserved With Love by Nile Theme
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="logo text-center">
                        <%= image_tag "logo-2.svg" %>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <ul class="social-media">
                            <li class="list-inline-item"><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>


    <div class="close-nile-sidebar"></div>

    <div id="nile-sidebar" class="nile-sidebar widget-area nile-widget-area">

        <div class="nile-widget about-me-widget">
            <div class="about-me">
                <div class="image"><%= image_tag "logo-2.svg" %></div>

                <div class="text-about margin-tb-25px">
                    A great city, whose image dwells in the memory of man, is the type of some great idea. Rome represents conquest; Faith hovers over the towers of Jerusalem; and Athens embodies the pre-eminent quality of the antique world, Art.
                </div>

                <a href="#" class="nile-bottom sm">Contact Us</a>
            </div>
        </div>


        <div class="nile-widget layout-1 niletheme_latest_news_widget">
            <h2 class="title">Latest Posts</h2>
            <ul class="lastet-Posts">
                <!-- item -->
                <li>
                    <div class="img_in">
                        <a href="#"><img src="http://placehold.it/80x80" alt=""></a>
                    </div>
                    <a class="date" href="#"> May 22, 2018</a>
                    <a class="title" href="#">How To Market Your Consulting Business ...</a>
                </li>
                <!-- End item -->

                <!-- item -->
                <li>
                    <div class="img_in">
                        <a href="#"><img src="http://placehold.it/80x80" alt=""></a>
                    </div>
                    <a class="date" href="#"> May 22, 2018</a>
                    <a class="title" href="#">SAP Business One Technical Versus Functional ...</a>
                </li>
                <!-- End item -->

                <!-- item -->
                <li>
                    <div class="img_in">
                        <a href="#"><img src="http://placehold.it/80x80" alt=""></a>
                    </div>
                    <a class="date" href="#"> May 22, 2018</a>
                    <a class="title" href="#">How To Choose An IT Consulting Firm</a>
                </li>
                <!-- End item -->

            </ul>
        </div>

        <div class="nile-widget layout-1 niletheme_contact_widget">
            <h2 class="title">Contact Us</h2>
            <form>
                <input type="text" id="inputName" placeholder="Your Name">
                <input type="text" id="inputEmail" placeholder="Your Email">
                <textarea id="Textarea1" placeholder="Your Message" rows="3"></textarea>
                <a href="#" class="nile-bottom sm">SEND MESSAGE</a>
            </form>
        </div>

        <div class="nile-widget layout-1 niletheme_projects_widget">
            <h2 class="title">Our Projects</h2>
            <ul class="projects-feed">
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
                <li><a href="#"><img src="http://placehold.it/100x100" alt=""></a></li>
            </ul>
        </div> 

 </div>

 
